

a {
  text-decoration: none;
  color: var(--app_color_primary);
}

a:hover,
a:active {
  background-color: var(--app_color_secondary);;
  color: var(--app_color_primary);
  ;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}