<div class="container" #containerRef>
  <ngx-charts-line-chart
    [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
    [scheme]="colorScheme"
    [legend]="legend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [legendTitle]="'Machines'"
    [xAxisLabel]="xAxisLabel"
  
    [gradient]="gradient"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="graphPoints"
  >
  </ngx-charts-line-chart>
  <!--   [curve]="curve" -->
</div>
